<!doctype html>
<html>
	<head>
		<style>
			table, th, td {
			border: 2px solid black;
			border-collapse: collapes;
			}
		</style>
	</head>
	<body>
		<h1> Food Inspection Reports </h1>
		<table style ="width:100%">
			<tr>
				<td> Company Logo</td>
				<td> Company Name </td>
				<td> Number of Chicago Locations </td>
				<td> % of inspections failed </td>
				<td> avg length of Violation </td>
			</tr>
			{% for info in company_info %}
			<tr>
				<td><img src="{{ info[0] }}"></td>
				{% for item in info[1:] %}
				<td> {{ item }} </td>
				{% endfor %}
			</tr>
			{% endfor %}

		</table>
	</body>
</html>
