<!doctype html>
<html>
	<head>
		<style>
			table, th, td {
			border: 2px solid black;
			border-collapse: collapse;
			}
		</style>
	</head>
	<body>
		<h1> 2048 Game </h1>
		<table style="width:50%">
			{% for row in board %}
			<tr>
				{% for item in row %}
				<td> {{ item }} </td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		<p>Player 1 Score = {{ p1score }}</p>
		<p>Player 2 Score = {{ p2score }}</p>
		{% if game_over %}
		<h2> End Of Game </h2>
		{% endif %}
		<p>
			Player 1:
			<a href="../up/1">UP</a>
			<a href="../down/1">DOWN</a>
			<a href="../left/1">LEFT</a>
			<a href="../right/1">RIGHT</a>
		</p>
		<p>
			Player 2:
			<a href="../up/2">UP</a>
			<a href="../down/2">DOWN</a>
			<a href="../left/2">LEFT</a>
			<a href="../right/2">RIGHT</a>
	</body>
</html>

				
